body 
    {background-color: beige;
    margin: 300;}
    

img 
    {width: 10% ;
    position:left }


h1 
    {text-align: center;

    background-color: black;
    color: white;
    
    }
    
div


